*{
    margin: 0;
    padding: 0;
}

/*简历中最外层框架*/
#resume{
    width: 100%;
    margin: 30px 0 50px 5%;
	font-family:"Microsoft YaHei";
    font-size: 1.5em;

    display: -webkit-box; /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法： Chrome 21+ */
    display: flex;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction: column;
}

/*简介*/
#brief{
    width: 95%;
    height: 220px;
    background-color: #a02828;
    margin-bottom: 20px;

    display: -webkit-box; /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法： Chrome 21+ */
    display: flex;
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
}

/*图片*/
#brief .myPic{
    width: 180px;
    height: 210px;
    margin: 0 0 5px 5px;
    align-self:flex-end;
}

/*简介的内容*/
#brief ul{
    color: white;
    flex: 1;
    list-style: none;
    margin: 0;
    align-self:flex-end;
}
#brief ul li{
    margin:0 0px 5px 0;
    padding-left: 40px;
}


/*具体内容*/
#content{
	width: 95%;
    height: 900px;
}

/*每个子项都有间隔*/
#content > div{
    margin: 0 0 20px 0;
}
#content p{
    margin: 0 0 10px 0;
}
#content hr{
    margin: 2px;
}
#content strong{
    color: #a02828;
}

#content .experience > div{
    margin: 0 0 10px 0;
    display: -webkit-box; /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法： Chrome 21+ */
    display: flex;
}
#content .experience > div :first-child{
    width: 220px;
}
#content .experience > div :last-child{
    flex: 1;
}

#content .awards > div{
    margin: 0 0 10px 0;
    display: -webkit-box; /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法： Chrome 21+ */
    display: flex;
}
#content .awards > div :first-child{
    width: 220px;
}
#content .awards > div :last-child{
    flex: 1;
}

#content .internship > div{
    margin: 0 0 10px 0;
    display: -webkit-box; /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法： Chrome 21+ */
    display: flex;
}
#content .internship > div :first-child{
    width: 220px;
}
#content .internship > div :last-child{
    flex: 1;
}

#content .technology > div{
    margin: 0 0 10px 0;
    display: -webkit-box; /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法： Chrome 21+ */
    display: flex;
}
#content .technology > div :first-child{
    width: 220px;
}
#content .technology > div :last-child{
    display: -webkit-box; /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法： Chrome 21+ */
    display: flex;
}

#content .technology > div [class*=list] [class*=degree]{
    width: 8px;
    height: 8px;
    margin: 6px 2px 4px 2px;
    border: 1px #a02828 solid;
    border-radius: 50px;
}
#content .technology > div [class*=list] [class$=\-1]{
    background-color: #a02828;
}

/*PHP的半圆*/
#content .technology > div [class*=list-] :nth-child(1){
    width: 4px;
    height: 8px;
    background-color: #a02828;
    border-radius: 5px 0 0 5px/5px 0 0 5px;
    margin-right: 0;
}
#content .technology > div [class*=list-] :nth-child(2){
    width: 4px;
    height: 8px;
    border-radius: 0 5px 5px 0/0 5px 5px 0;
    margin-left: -2px;
}
